<h1>Data Loading Component Example</h1>

<Ticker @timeBetween={{5000}} as |count|>
  <FetchData @type="user" @id={{count}} as |user state|>
    <h2>{{user.name}}</h2>
    {{#if state.isLoading}}
    {{if user "Reloading..." "Loading..."}}<br>
    {{/if}}
    <ul>
      <li>Id: {{user.id}}</li>
      <li>Age: {{user.age}}</li>
    </ul>
  </FetchData>
</Ticker>